---
import Container from "@/components/core/Container.astro";
import { site } from "@/config";

const currentYear = new Date().getFullYear();
---

<footer class="mt-auto">
    <Container>
        <div class="py-4 text-center">
            <p class="text-sm text-gray-500 dark:text-gray-400">
                © {currentYear}
                {site.name}. All rights reserved.
            </p>
        </div>
    </Container>
</footer>
