---
import { site } from "@/config";
import Container from "../components/core/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title={site.name} description={site.description}>
	<Container>
		<h1 class="text-4xl font-bold text-center text-gray-800">
			Astro Boilerplate
		</h1>
	</Container>
</Layout>
