---
import CommonHead from "@/components/core/CommonHead.astro";
import type { MetaProps } from "@/types";

const { meta } = Astro.props as MetaProps;
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead meta={meta} />
  </head>
  <body
    class="bg-base-light dark:bg-base-dark h-full flex flex-col min-h-screen"
  >
    <!-- <Header /> -->
    <main class:list={["flex flex-col flex-grow"]}>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>
