---
import CommonHead from "@/components/core/CommonHead.astro";
import type { MetaProps } from "@/types";
import "@/assets/global.css";
import Footer from "@/components/stylable/Footer.astro";
import Header from "@/components/stylable/Header.astro";

const { meta } = Astro.props as MetaProps;

import { getLangFromUrl } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="dark">
  <head>
    <CommonHead meta={meta} />
  </head>
  <body class="bg-background h-full flex flex-col min-h-screen">
    <Header />
    <main class:list={["flex flex-col flex-grow"]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
